@model EntityLayer.Concrete.Team
@{
    ViewData["Title"] = "AddTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1> </h1>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Takım Arkadaşı Kayıt Formu  </h4>
        <p class="card-description">
            Kişisel Bilgiler
        </p>
        <form  method="post" class="forms-sample">
            <div class="form-group">
                <label for="exampleInputUsername1">İsim </label>
                <input type="text" class="form-control"  placeholder="Takım Arkadaşı İsmi " asp-for="Name">

                @if (ViewData.ModelState["Name"] != null && ViewData.ModelState["Name"].Errors.Any())
                {
                    <div class="alert alert-danger mt-2">
                        @foreach (var error in ViewData.ModelState["Name"].Errors)
                        {
                            <span>@error.ErrorMessage</span>

                            <br />
                        }
                    </div>
                }

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Görev Bilgileri </label>
                <input type="text" class="form-control"  placeholder="Görev" asp-for="Title">
                @if (ViewData.ModelState["Title"] != null && ViewData.ModelState["Title"].Errors.Any())
                {
                    <div class="alert alert-danger mt-2">
                        @foreach (var error in ViewData.ModelState["Title"].Errors)
                        {
                            <span>@error.ErrorMessage</span>

                            <br />
                        }
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> Resim Yolu</label>
                <input type="text" class="form-control"  placeholder="Resim Yolu" asp-for="ImageUrl">
                @if (ViewData.ModelState["ImageUrl"] != null && ViewData.ModelState["ImageUrl"].Errors.Any())
                {
                    <div class="alert alert-danger mt-2">
                        @foreach (var error in ViewData.ModelState["ImageUrl"].Errors)
                        {
                            <span>@error.ErrorMessage</span>

                            <br />
                        }
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> Facebook Adresi</label>
                <input type="text" class="form-control"  placeholder="Facebook Adresi" asp-for="FacebookUrl">
                @if (ViewData.ModelState["FacebookUrl"] != null && ViewData.ModelState["FacebookUrl"].Errors.Any())
                {
                    <div class="alert alert-danger mt-2">
                        @foreach (var error in ViewData.ModelState["FacebookUrl"].Errors)
                        {
                            <span>@error.ErrorMessage</span>

                            <br />
                        }
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> Web Site Adresi</label>
                <input type="text" class="form-control"  placeholder="Web Site Adresi" asp-for="WebSiteUrl">
                @if (ViewData.ModelState["FacebookUrl"] != null && ViewData.ModelState["FacebookUrl"].Errors.Any())
                {
                    <div class="alert alert-danger mt-2">
                        @foreach (var error in ViewData.ModelState["FacebookUrl"].Errors)
                        {
                            <span>@error.ErrorMessage</span>

                            <br />
                        }
                    </div>
                }
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1"> X(twitter) Adresi</label>
                <input type="text" class="form-control"  placeholder="X(twitter) Adresi" asp-for="XUrl">
                @if (ViewData.ModelState["XUrl"] != null && ViewData.ModelState["XUrl"].Errors.Any())
                {
                    <div class="alert alert-danger mt-2">
                        @foreach (var error in ViewData.ModelState["XUrl"].Errors)
                        {
                            <span>@error.ErrorMessage</span>

                            <br />
                        }
                    </div>
                }
            </div>
            <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="onay" name="onay" value="true">
                    Onay
                </label>
            </div>
            @if (ViewData.ModelState["onay"] != null && ViewData.ModelState["onay"].Errors.Any())
            {
                <div class="alert alert-danger mt-2">
                    @ViewData.ModelState["onay"]?.Errors.FirstOrDefault()?.ErrorMessage
                </div>
            }

            <button type="submit" class="btn btn-primary me-2">Kayıt Ekle </button>
            <a href="/Team/Index" class="btn btn-light">Geri Dön</a>
        </form>
    </div>
 
</div>
<br />

